body{
    /* margin: 0%;
    padding: 0%; */
    background-image: url(bg2.jpg);
    background-size: 100vw;
    background-repeat: repeat-y;
}
.box-img{
    max-width: 50%;
    height: auto;
}
.box{
    float: left;
    scale: 1;
    max-width: 50%;
    height: auto;
    border-radius: 15%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
}
.box-name{
    color: bisque;
    font-size: 24pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.box-des{
    color: bisque;
    margin-top: 0%;
    font-size: 12pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.box-bullets{
    float: left;
    color: bisque;
    max-width: 30%;
    font-size: 10pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding: 2%;
    /* margin-top: -15%; */
}
a{
    text-decoration: underline;
    color: bisque;
}
/* div{
    float: left;
}
.box{
    scale: 0.5;
    border-radius: 15%;
    /* margin-top: -12%; */
    /* margin-bottom: 0%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.box-name{
    color: bisque;
    font-size: 5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.box-des{
    color: bisque;
    margin-top: 0%;
    font-size: 3vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.box-bullets{
    color: bisque;
    max-width: 50vw;
    float: ri;
    font-size: 1vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-top: -15%;
}

.box-img{
    float: left;
    max-width: 50%;
    max-height: auto;
    margin-top: 0%;
    border-radius: 100%;
} */ 